@import '../../styles/mixins';

.profile {
  display: flex;
  height: 100vh;
  width: 90%;
  max-width: 980px;
  margin: auto;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  background-color: #fff;


  &__group {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  &__pic {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  &__field {
    width: 300px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  &__update-button {
    height: 55px;
    color: #fff;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: var(--main-color);
  }

  &__back-link {
    display: block;
    text-decoration: none;
    padding: 20px;
  }

  &__loader {
    @include full-page-loader
  }
}