.form {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;

  &__field {
    flex-grow: 1;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
  }

  &__send-button {
    display: flex;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }

  &__add-image {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 30px;
  }

  &__add-image-icon {
    margin-left: 20px;
    transition: fill 0.3s ease-in-out;

    &:hover {
      fill: var(--main-color) 
    }
  }

  &__send-icon:hover {
    transition: fill 0.3s ease-in-out;
    fill: var(--main-color) 
  }
}