.users {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.user {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #f3f0f0;
  cursor: default;

  &_active {
    background-color: #bde4e1;
  }

  &__avatar {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    flex-shrink: 0;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}