.users {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.user {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #f3f0f0;
  cursor: default;

  &_active {
    background-color: var(--accent-color);
  }

  &__avatar {
    @extend %image;
  }

  &__bookmark-container {
    @extend %image;
    display: flex;
    background-color: var(--main-color);
  }

  &__bookmark {
    margin: auto;
    fill: #fff;
  }

  &__name {
    font-weight: bold;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

%image {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
}