@import '../../styles/mixins';

.board {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));

  &__header {
    display: flex;
    align-items: center;
    padding: 25px 20px;
    border-bottom: 1px solid #ccc;
  }

  &__messages {
    position: relative;
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
  }

  &__user-pic {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }

  &__loader {
    @include loader;
    background-color: rgba($color: #fff, $alpha: 0.5);
  }

  &__empty {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
  }

  &__empty-text {
    margin: auto;
  }
}