.board {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--headerheight));

  &__header {
    display: flex;
    align-items: center;
    padding: 25px 20px;
    border-bottom: 1px solid #ccc;
  }

  &__messages {
    overflow-y: scroll;
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__form {
    height: 80px;
  }

  &__user-pic {
    width: 45x;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
}