.message {
  display: flex;

  &__content {
    //display: flex;
  }

  p {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &_in {
    justify-content: flex-start;

    p {
      background-color: #eee;
    }
  }

  &_out {
    justify-content: flex-end;

    p {
      background-color: #b3e0d4;
    }
  }

  &__image {
    object-fit: cover;
    width: 300px;
    height: 300px;
  }
}