.message {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;

  &__content {

  }

  p {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &_in {
    justify-content: flex-start;

    p {
      background-color: #eee;
    }
  }

  &_out {
    justify-content: flex-end;

    p {
      background-color: #b3e0d4;
    }
  }

  &__image {
    display: block;
    max-width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__time {
    display: block;
    margin-bottom: 5px;
    font-size: 11px;
    color: #999;

    .message_out & {
      text-align: right;
    }
  }
}