.message {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;

  &__wrapper {
    display: flex;
  }

  &__content {
    display: flex;
  }

  &__container {
    margin-bottom: 10px;
  }

  &__pic {
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    flex-shrink: 0;
  }

  &__user-name {
    margin-bottom: 10px;
  }

  p {
    display: inline-block;
    max-width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  &_in {
    justify-content: flex-start;

    p {
      background-color: #eee;
      border-top-left-radius: 2px;
    }
  }

  &_out {
    justify-content: flex-end;

    p {
      margin-left: auto;
      background-color: #b3e0d4;
      border-top-right-radius: 2px;
    }
  }

  &__image {
    display: block;
    margin-bottom: 5px;
    max-width: 300px;
  }

  &__time {
    display: block;
    font-size: 11px;
    color: #999;

    .message_out & {
      text-align: right;
    }
  }
}